# Default ignored files
/workspace.xml
/../out/production/ZadanieDomowe05/tablicazsumowaniem/Array.class
/../out/production/ZadanieDomowe05/kalkulatorporownujacy/Compare.class
/misc.xml
/modules.xml
/../out/production/ZadanieDomowe05/cenabrutto/Product.class
/../out/production/ZadanieDomowe05/kalkulatorporownujacy/Test.class
/../out/production/ZadanieDomowe05/cenabrutto/TestClass.class
/../ZadanieDomowe05.iml
/../out/production/ZadanieDomowe05/META-INF/ZadanieDomowe05.kotlin_module
/vcs.xml
